
// Fonts
@font-face {
    font-family: Inter;
    src: url('https://fonts.googleapis.com/css?family=Nunito');
}

// Body
$body-bg: rgb(255, 255, 255);
$body-color:  rgb(25, 26, 25);
// Typography
$font-family-sans-serif: 'Inter';
$font-size-base: 0.9rem;
$line-height-base: 1.6;
